<body>

<div id="cabecera">

	<div id="cabsup">
		<div id="logo">
			<br>
		<IMG SRC="logo.png" ALT="La primera biblioteca física p2p" WIDTH=300 HEIGHT=100% >

		</div>
	
	</div>


	<div id="menu">


	 <ul>
	    <li><%= link_to 'Archivo', libros_path%></li>
	    <li> link to 'Inicio'</li>
	    <li> link to '¿Cómo funciona?' </li>
	    <li> link to 'Preguntas Frecuentes' </li>
	    <li> link to 'Nuestros principios' </li>
	    <li> link to 'Contacto' </li>
	 </ul>

	</div>

</div>




<br>
<br>
<br>
<div id="principal">

	<div id="princip_izda">
	<center>
    <IMG SRC="owl-158417.png" ALT="La primera biblioteca física p2p"
     WIDTH=278 HEIGHT=100% ALIGN=middl>
     </center>
	</div>


</div>

</body>

